<h1>Create New Quewstion for Test '<%= @test.title%>' of level '<%= @test.level %>1'</h1>
  <form action='/questions' method='post'>
    <label for='quest-body'>Question:</label>
    <input type='text' name='question[body]' id='quest-body'>
    <input type='submit' value='create'>
  </form>
