<h1>Test <%= @test_passage.test.title %> has been completed</h1>
<% if @score >= 85 %>
  <p style="color:green">Correctness: <%= "#{@score} %. Passed!" %></p>
<% else %>
  <p style="color:red">Correctness: <%= "#{@score} %. Failed!" %></p>
<% end %>

<%= link_to '<< Tests', tests_path %>
