<% flash.each do |key, message| %>
  <% if key == 'alert' %>
    <div class="alert alert-danger" role="alert">
      <%= content_tag :p, message, class: "flash #{key}" %>
    </div>
  <% else %>
    <div class="alert alert-success" role="alert">
      <%= content_tag :p, message, class: "flash #{key}" %>
    </div>
  <% end %>
<% end %>
