<br>
<div class="footer">
  <p>
    <%= "#{current_year}.   Project " %>
    <%= link_to_github('rublen', 'TestGuru') %>
    whithin RoR course of online coding school
    <%= link_to 'Thinknetica', 'http://thinknetica.com', target: :_blank %>
  </p>
</div>
