<p><%= t('.greeting', recipient: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.message_if', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('.message_else', email: @resource.email) %></p>
<% end %>
