<h1>List of Tests</h1>
<%= run_flash(:notice) %>
<table style='border-spacing: 5px;'>
  <tr >
    <th style='border-bottom: 1pt solid black'>id</th>
    <th style='border-bottom: 1pt solid black'>Title</th>
    <th style='border-bottom: 1pt solid black'>Category</th>
    <th style='border-bottom: 1pt solid black' colspan='4'>Actions</th>
  </tr>
  <%= render @tests %>
</table><br>

<%= link_to 'New test', new_test_path(@test) %><br>
